* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 700;
}

div {
    width: fit-content;
}

.danger {
    background-color: #ffdddd;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 8px solid #f44336;
    margin-bottom: 15px;
}

.success {
    background-color: #ddffdd;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 8px solid #04AA6D;
    margin-bottom: 15px;
}

.info {
    background-color: #e7f3fe;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 8px solid #2196F3;
    margin-bottom: 15px;
}

.warning {
    background-color: #ffffcc;
    font-size: 1.2rem;
    padding: 10px;
    border-left: 8px solid #ffeb3b;
    margin-bottom: 15px;
    position: relative;
}

.warning .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
}
